<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head',{ title:'home', }) %>
    <body>
        <!-- Header -->
        <%- include('./partials/header') %>
            <!-- /Header -->
            <!-- todos los productos -->
            <main class="main__result">
                <div>
                    <h2 style="margin-top: 39px; text-align: center; color: var(--bs-gray-100);">Resultados de la búsqueda:  <%= keywords %></h2>
                </div>
                <section class="main__section--product main__section--product-result">
                    
                    <% if (searchResult.length> 0) { %>
                    
                    <% searchResult.forEach(({id, name, price, image, discount})=> { %>
                        <%- include("./partials/product",{id, name, price, image, discount, toThousand }) %>
                    <% }) %>
                    
                    <% } else { %>
                    <div >
                    <h2 class="" style="color: tomato; margin-top: 100px; margin-bottom: 100px;">No hay productos que coincidan con esa búsqueda</h2>
                    </div>
                    <% } %>
                </section>
            </main>
            <!-- /todos los productos -->

            <!-- footer -->
            <%- include('./partials/footer') %>
                <!-- /footer -->
    </body>

</html>