<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head',{ title:'Detail', }) %>

        <body class="body-productDetail">
            <!-- Header -->
            <%- include('../partials/header')%>
                <!-- /Header -->

                <div class="card-wrapper">
                    <div class="card">
                        <!-- card left  -->
                        <div class="img-display">
                            <div class="img-showcase">
                                <img class="img-product" src="/images/products/<%= product.image.length> 0 ? product.image[0].file : "default-product-image.jpg" %>" alt="product">
                            </div>
                        </div>
                        <!-- card right -->
                        <div class="product-content">
                            <h2 class="product-title"><%= product.name %></h2>
                            <div class="product-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>4.7(21)</span>
                            </div>
                            <% if (product.discount > 0) { %>
                            <div class="product-price">
                                <p class="last-price">Old price: $ <span><%= product.price %></span></p>
                                <div class="price-discount">
                                    
                                    <% }else{ %>
                                    <div class="product-price">
                                        <p class="new-price">$ <span><%= product.price %></span></p>
                                    </div>
                                    <div class="product-detail">
                                        <h2>Acerca de este artículo:</h2>
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i> Stock: <span><%= product.stock %> unidades.</span></li>
                                            <li><i class="fa-regular fa-circle-check"></i> Categoría: <span><%= product.category.name %>.</span></li>
                                        </ul>
                                    </div>
        
                                    <div class="purchase-info">
                                        <p>Cantidad:<input type="number" min="0" value="1"></p>
                                        <button type="button" class="btn">
                                            Comprar ahora
                                        </button> 
                                        <button type="button" name="cart"class="btn"onclick="addCartItem('<%=product.id%>')">
                                            Agregar al carrito <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        <% if (locals.userLogin && userLogin.rol === 1) { %>
                                            <div>
                                                <a href="/products/productEdit/<%= product.id %>"><button class="btn" type="submit"><i class="fa-solid fa-pen-to-square"></i> Editar producto</button></a>
                                            </div>
                                            <form action="/products/deleteProduct/<%= product.id %>?_method=DELETE" method="POST" id="deleteForm" style="display: inline-flex">
                                                <button  type="submit" class="btn">ELIMINAR</button>
                                            </form>
                                        <% } %>
                                        <div class="social-links">
                                            <p>Compartir:</p>
                                            <a href="#">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-whatsapp"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-discord"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <h2>Descripción:</h2>
                                            <div>
                                                <p><%= product.description %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% if (product.discount > 0) { %>
                                    <div class="if-price-discount">
                                    <p class="new-price">New Price: $ <span><%= (product.price) - (product.price * product.discount / 100)%></span></p>
                                    <p class="discount"><%= product.discount %>% OFF</p>
                                    </div>
                                    <div>
                                        <div class="product-detail">
                                            <h2>Acerca de este artículo:</h2>
                                            <ul>
                                                <li><i class="fa-regular fa-circle-check"></i> Stock: <span><%= product.stock %> unidades.</span></li>
                                                <li><i class="fa-regular fa-circle-check"></i> Categoría: <span><%= product.category.name %>.</span></li>
                                            </ul>
                                        </div>
                                        <div class="purchase-info">
                                            <p>Cantidad: <input type="number" min="0" value="1"></p> 
                                            <button type="button" class="btn">
                                                Comprar ahora
                                            </button>
                                            <button type="button" class="btn">
                                                Agregar al carrito <i class="fas fa-shopping-cart"></i>
                                            </button>
                                            <% if (locals.userLogin && userLogin.rol === 1) { %>
                                                <div>
                                                    <a href="/products/productEdit/<%= product.id %>"><button class="btn" type="submit"><i class="fa-solid fa-pen-to-square"></i> Editar producto</button></a>
                                                </div>
                                                <form action="/products/deleteProduct/<%= product.id %>?_method=DELETE" method="POST" id="deleteForm" style="display: inline-flex">
                                                    <button  type="submit" class="btn">ELIMINAR</button>
                                                </form>
                                            <% } %>
                                            <div class="social-links">
                                                <p>Compartir: </p>
                                                <a href="#">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-discord"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <h2>Descripción:</h2>
                                                <div>
                                                    <p><%= product.description %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </main>

                <!-- footer -->
                <%- include('../partials/footer',{ title:'home', }) %>
                    <!-- /footer -->

                    <!-- script -->
                    <script src="/javascripts/glider.js"></script>
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                window.addEventListener('load', function() {
                    new Glider(document.querySelector('.glider'), {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        itemWith: 150,
                        dots: '#dots',
                        arrows: {
                            prev: '.glider-prev',
                            next: '.glider-next'
                        },
                        responsive: [{
                            // screens greater than >= 768px
                            breakpoint: 768,
                            settings: {
                                // Set to `auto` and provide item width to adjust to viewport
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                itemWidth: 150,
                                duration: 0.25
                            }
                        }, {
                            // screens greater than >= 1024px
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 5,
                                slidesToScroll: 1,
                                itemWidth: 150,
                                duration: 0.25
                            }
                        }]
                    })
                })
                    </script>
                    <script src="../../../javascripts/alerts.js"></script>
                    <!-- /script -->
                </body>

            </html>

