<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head',{ title:'Detail', }) %>

        <body>
            <!-- Header -->
            <%- include('../partials/header')%>
                <!-- /Header -->

                <!--             <div class="">
                <h3 class="title__h3">Editar producto</h3>
            </div>
            <main class="productdetail__main">
                <div class="content_detail_product_images">
                    <section class="detail__product__images">
                        <img class="product-img" src="/images/products/<%= product.image.length > 0 ? product.image[0].file : "default-product-image.jpg" %>" alt="product">
                        <section class="detail__purchase">
                            <article class="detail__purchase__product">
                                <h1 class="detail__purchase__product--title"> <%= product.name %> </h1>
                                <div class="detail__purchase__product--box">
                                    <% if (product.discount > 0) { %>
                                    <p class="detail__purchase__product--price">$<%= (product.price) - (product.price * product.discount / 100) %></p>
                                    <p class="text-decoration-line-through text-danger detail__purchase__product--true-price">$<%= product.price %></p>
                                    <% }else{ %>
                                    <h3>$<%= product.price %></h3>
                                    <% } %>
                                    <% if (product.discount > 0) { %>
                                        <p class="detail__purchase__product--discount"><%= product.discount %>% OFF</p>
                                    <% } %>
                                </div>
                            </article>
                            <p class="detail__product__envio"><i class="fa-solid fa-truck"></i> Envío gratis a todo el país</p>
                            <div class="bar-button-stock">
                                <input style="text-align: center; pointer-events: none;" type="text" class="stock-input" placeholder=" Stock disponible: <%= product.stock %>">
                            </div>  
                            <article class="detail__purchase__buttons">
                                <div class="detail__purchase__buttons--cart">
                                    <button type="submit" name="cart"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                                </div>
                                <div class="detail__purchase__buttons--fav">
                                    <button type="submit" name="favorites"><i class="fa-solid fa-heart"></i> Agregar a favoritos</button>
                                </div>
                                <% if (locals.userLogin && userLogin.rol === 1) { %>
                                    <div class="edit__product">
                                        <a href="/products/productEdit/<%= product.id %>"><button type="submit"><i class="fa-solid fa-pen-to-square"></i> Editar producto</button></a>
                                    </div>
                                    <form action="/products/deleteProduct/<%= product.id %>?_method=DELETE" method="POST" id="deleteForm" style="display: inline-flex">
                                        <button type="submit" class="action-button delete">ELIMINAR</button>
                                    </form>
                                <% } %>
                            </article>
                        </section>
                    </section>
                </div>
                <div class="product_and_features">
                    <section class="detail__product__store">
                        <h3 class="title__h3">Descripción</h3>
                        <p> <%= product.description %> </p>
                    </section>
                    <section class="detail__product__features">
                        <h3 class="title__h3">Caracteristicas</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                            <li>Lorem ipsum dolor sit amet consectetur quia!</li>
                        </ul>
                    </section>
                </div>
                <div class="content_detail_product_rating">
                    <section class="detail__product__ratings">
                        <h3 class="title__h3">Calificaciones</h3>
                        <article>
                            <div class="detail__product__ratings-buttons">
                                <button><i class="fa-regular fa-thumbs-up"></i> Positivas</button>
                                <button style="color: danger;"><i class="fa-regular fa-thumbs-down"></i> Negativas</button>
                            </div>
                            <div class="detail__product__ratings-comments">
                                <div>
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique aliquam odio recusandae tempora, aut saepe perferendis sed dolor eligendi alias ratione tempore! Error officia dolor architecto ab voluptatem cum.</p>
                            </div>
                            <div class="detail__product__ratings-comments">
                                <div>
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat autem illo labore ipsam. Nemo nostrum mollitia tempora voluptatibus, quod voluptate harum ex rerum explicabo sit! Sint obcaecati aut repellendus veritatis? <i class="fa-solid fa-heart"></i></p>
                            </div>
                        </article>
                    </section>
                </div>
                <div class="content_detail_product_questions">
                    <section class="detail__product__questions">
                        <h3 class="title__h3">Preguntas Frecuentes</h3>
                        <article>
                            <ul>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                            </ul>
                        </article>
                        <article>
                            <ul>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                            </ul>
                        </article>
                    </section>
                </div>
                <div class="detail__product__questions--failed">
                    <p>¿No está tu pregunta?</p>
                    <p>¡Contacta con la tienda!</p>
                </div> -->
                <div class="card-wrapper">
                    <div class="card">
                        <!-- card left  -->
                        <div class="product-imgs"></div>
                        <div class="img-display">
                            <div class="img-showcase">
                                <img src="/images/products/<%=
                                    product.image.length> 0 ?
                                product.image[0].file :
                                "default-product-image.jpg" %>" alt="product">
                            </div>
                        </div>
                        <!-- card right -->
                        <div class="product-content">
                            <h2 class="product-title">Keys</h2>
                            <a href="#" class="product-link">Visit Dalf-Store</a>
                            <div class="product-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>4.7(21)</span>
                            </div>
                            <div class="product-price">
                                <p class="last-price">Old price: <span>$500.00</span></p>
                                <p class="new-price">New Price <span>$300.00 (5%)</span></p>
                            </div>
                            <div class="product-detail">
                                <h2>about this item:</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique aliquam odio recusandae tempora, aut saepe perferendis sed dolor eligendi alias ratione tempore! Error officia dolor architecto ab voluptatem cum.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam similique aliquam odio recusandae tempora, aut saepe perferendis sed dolor eligendi alias ratione tempore! Error officia dolor architecto ab voluptatem cum.</p>
                                <ul>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ProductRecommended -->
                <%- include('../partials/productsRecommended',{ title:'Detail',
                    }) %>
                    <!-- /ProductRecommended -->
                </main>

                <!-- footer -->
                <%- include('../partials/footer',{ title:'home', }) %>
                    <!-- /footer -->

                    <!-- script -->
                    <script src="/javascripts/glider.js"></script>
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                window.addEventListener('load', function() {
                    new Glider(document.querySelector('.glider'), {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        itemWith: 150,
                        dots: '#dots',
                        arrows: {
                            prev: '.glider-prev',
                            next: '.glider-next'
                        },
                        responsive: [{
                            // screens greater than >= 768px
                            breakpoint: 768,
                            settings: {
                                // Set to `auto` and provide item width to adjust to viewport
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                itemWidth: 150,
                                duration: 0.25
                            }
                        }, {
                            // screens greater than >= 1024px
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 5,
                                slidesToScroll: 1,
                                itemWidth: 150,
                                duration: 0.25
                            }
                        }]
                    })
                })
            </script>
                    <script src="../../../javascripts/alerts.js"></script>
                    <!-- /script -->
                </body>

            </html>