
    <a href="/products/productDetail/<%= id %>" class="main__section--product-article">
    <article>
        <img class="main__section--product-img-key" src="/images/products/<%= image[0] ? image[0].file : 'default-product-image.jpg' %>" alt="xbox-key ">
        <div class="main__section--product-content_offers">
            <div class="main-section-price-ofert">
                <p class="main__section--product-price">$<%= price - price * discount / 100%></p>
                <% if (discount> 0) { %>
                <p class="main__section--product-discount"><%= discount %>% OFF</p>
                <% } %>
            </div>
            <p class="main__section--product-description"><%= name %></p>
        </div>
    </article>    
    </a>