<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{ title:'home', }) %>

    <body id="b0dy__c0nt41n3r">
        <div class="body--form">
            <%- include('../partials/logoForms',{ title:'Perfil de usuario' }) %>
            
            <div class="body__form--box">
                <div class="body__form--title">
                    <h2>Mi Perfil</h2>
                </div>

                <form action="/users/update/<%= user.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                    <div class="body__form--inputs">

                        <div class="body__form--profileImg">
                            <img src="/images/users/<%= user.avatar ? user.avatar.file : 'DEFAULT-IMAGE.jpg' %>" name ="avatar" id="avatar" alt="avatar">
                            <input type="file" id="file" name="avatarFile">
                            <label for="file" id="uploadBtn">Elegir Avatar</label>
                        </div>
                        <p class="inputs__text__warnings"><%= locals.errors && errors.avatarFile ? errors.avatarFile.msg : null %></p>

                        <div class="body__form__inputs--userData">
                            <div class="body__form__inputs__userData--input">
                                <label for="userName">Nombre de usuario:</label>
                                <input type="text" placeholder="Nombre de usuario" id="userName" name="userName" value="<%= user.userName %>">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.userName ? errors.userName.msg : null %></p>
                            </div>

                            <div class="body__form__inputs__userData--input">
                                <label for="firstName">Nombre:</label>
                                <input type="text" placeholder="Nombre" id="firstName" name="firstName" value="<%= user.firstName %>">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.firstName ? errors.firstName.msg : null %></p>
                            </div>

                            <div class="body__form__inputs__userData--input">
                                <label for="lastName">Apellido:</label>
                                <input type="text" placeholder="Apellido" id="lastName" name="lastName" value="<%= user.lastName %>">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.lastName ? errors.lastName.msg : null %></p>
                            </div>

                            <div class="body__form__inputs__userData--input">
                                <label for="birthday">Cumpleaños:</label>
                                <input type="date" id="birthday" name="birthday" value="<%= moment(user.birthday).format('YYYY-MM-DD') %>">
                            </div>

                            

                            <div class="body__form__inputs__userData__input--textArea">
                                <label for="aboutMe">Acerca de mí...</label>
                                <textarea placeholder="Acerca de mí..." name="aboutMe" id="aboutMe"><%= user.aboutMe %></textarea>
                            </div>

                        </div>

                        <div class="body__form__button--btn">
                            <button type="submit">GUARDAR CAMBIOS</button>
                        </div>

                    </div>
                </form>

                <div class="body__form__redirect">
                    <div class="body__form__redirect--unsave">
                        <a href="/">No quiero guardar los cambios</a>
                    </div>

                    <div class="body__form__redirect--deleteAcc">
                        <a href="/users/deleteAcc">Eliminar Cuenta</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

<!-- script user profile image -->
<script src="/javascripts/profileImage.js"></script>