<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{ title:'home', }) %>

    <body id="b0dy__c0nt41n3r">
        <div class="body--form">
            <%- include('../partials/logoForms',{ title:'Registro de usuario' }) %>
            
            <div class="body__form--box">
                <div class="body__form--title">
                    <h2>Registrarse</h2>
                </div>
                <form action="" method="POST">
                    <div class="body__form--inputs">
                        <div class="body__form__inputs--userData">
                            <div class="body__form__inputs__userData--input">
                                <label for="userName">Nombre de usuario:</label>
                                <input type="text" placeholder="Nombre de usuario" id="userName" name="userName" value="<%= locals.old && old.userName ? old.userName : null %>">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.userName ? errors.userName.msg : null %></p>
                            </div>
                            <div class="body__form__inputs__userData--input">
                                <label for="email">E-mail:</label>
                                <input type="email" placeholder="E-mail" id="email" name="email" value="<%= locals.old && old.email ? old.email : null %>">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.email ? errors.email.msg : null %></p>
                            </div>
                            <div class="body__form__inputs__userData--input">
                                <label for="pass">Contraseña:</label>
                                <input type="password" placeholder="Contraseña" id="pass" name="pass">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.pass ? errors.pass.msg : null %></p>
                            </div>
                            <div class="body__form__inputs__userData--input">
                                <label for="repass">Confirmar contraseña:</label>
                                <input type="password" placeholder="Confirmar contraseña" id="repass" name="repass">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.repass ? errors.repass.msg : null %></p>
                            </div>
                        </div>
                        <div class="body__form__button--btn">
                            <button type="submit">CREAR CUENTA</button>
                        </div>
                    </div>
                </form>
                <div class="body__form__redirect">
                    <div class="body__form__redirect--login">
                        <a href="/users/login">¿Ya tenés una cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>